h1 {
  border-left: 15px solid #3454b4;
  padding-left: 10px;
  border-bottom: 3px solid #2f51b4;
}

h2 {
  border-left: 10px solid #3454b4;
  padding-left: 15px;
}

h3 {
  border-left: 5px solid #3454b4;
  padding-left: 20px;
}
/*
 ul li {
  color: blue;
}

 ol li {
  color: green;
}
*/
img {
  max-width : 100%;
  max-height: 100%;
  vertical-align: bottom;
  transform: scale(0.8);
}
table {
  border-collapse: collapse;
  font-size: 73%;
}
 th {
  background: #abe;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

tr:nth-child(even) {
  background: #efefef;
}

tr:hover {
  background: #d1d1d1;
}